# Default ignored files
/shelf/
/workspace.xml


.gradle
/local.properties
/.idea/workspace.xml (этот пункт и следующий заменить на .idea)
/.idea/libraries
.DS_Store
/build
gradle.properties
.idea
.navigation
/captures
*.iml
gradlew
gradlew.bat